.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;

}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 0.8;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
  margin: 12px 0 0;
}

.card__like-btn {
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  transition: opacity 0.3;
  margin: 12px 0 0;
  background-color: transparent;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-btn_liked {
background-image: url(../images/like-icon-liked.svg); ;
opacity: 100%;
}

.card__like-btn_liked:hover {
background-image: url(../images/like-icon-liked-hover.svg); ;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../images/delete-icon.svg);
  border: none;
  opacity: 1;
  transition: 0.3;
  position: absolute;
  top: 10px;
  left: 371px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-icon-hover.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    margin: 0;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin: 12px 0 0;
    max-width: 250px;
  }

  .card__like-btn {
    margin: 12px 0 0;
  }

  .card__delete-btn {
    top: 10px;
    left: 246px;
  }
}
